@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-medium-dark: hsl(0, 0%, 35%);
  --clr-light: hsl(0, 0%, 98%);
  --clr-medium-light: hsl(0, 0%, 90%);
  --clr-gray: hsl(0, 0%, 80%);

  --clr-primary: hsl(207, 44%, 49%);
  --clr-primary-dark: hsl(207, 44%, 30%);

  --clr-secondary: hsl(0, 44%, 49%);

  --fs-small: 0.8rem;
  --fs-medium: 1rem;
  --fs-big: 1.2rem;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  color: var(--clr-light);
}

p,
h1,
h2 {
  margin: 0;
}

/* Layout */

.content {
  display: grid;
  grid-template: 70px 1fr / 250px 1fr;
  height: 100%;
}

header {
  display: grid;
  align-items: center;
  grid-column: 1 / -1;
  padding: 1rem;
}

aside {
  display: grid;
  grid-template-rows: 1fr 50px;
}

section,
main {
  display: grid;
  align-content: start;
  gap: 1rem;
  padding: 1rem;
}

main,
aside {
  overflow-y: auto;
}

footer {
  display: grid;
  place-items: center;
}

.task {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.3rem;
  padding: 0.4rem 0.5rem;
}

/* Buttons */

.btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--fs-medium);
  text-align: start;
}

.submit-btn {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-light);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

.submit-btn:hover {
  background-color: var(--clr-light);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.cancel-btn {
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-light);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

.cancel-btn:hover {
  background-color: var(--clr-light);
  border: 1px solid var(--clr-secondary);
  color: var(--clr-secondary);
}

/* Inputs */

input {
  padding: 0.3rem;
  border: 1px solid var(--clr-dark);
  border-radius: 0.2rem;
  background-color: var(--clr-light);
}

input:focus {
  outline: 1px solid var(--clr-primary-dark);
}

textarea {
  padding: 0.3rem;
  resize: vertical;
}

.input-group {
  grid-column: 1 / -1;
}

.input-group > * {
  width: 100%;
}

label {
  font-size: var(--fs-small);
  text-transform: uppercase;
}

/* Forms */

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  /* Computed width of form div in sidebar */
  width: 218px;
}

#new-list-form,
#new-task-form {
  display: none;
}

/* Lists */

ul {
  display: grid;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  font-size: var(--fs-medium);
  border-radius: 0.3rem;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 3ch 3ch;
  align-items: center;
}

.list-item > button {
  visibility: hidden;
}

.list-item:hover button {
  visibility: visible;
}

.title {
  align-self: baseline;
  font-size: var(--fs-big);
}

.date {
  align-self: baseline;
  font-size: var(--fs-small);
  color: var(--clr-medium-dark);
}

.description {
  grid-column: 1 / -1;
  overflow-wrap: break-word;
}

/* Utility classes */

.bgc-dark {
  background-color: var(--clr-dark);
}

.bgc-light {
  background-color: var(--clr-light);
}

.bgc-gray {
  background-color: var(--clr-gray);
}

.bgc-primary {
  background-color: var(--clr-primary);
}

.text-clr-dark {
  color: var(--clr-dark);
}

.text-clr-light {
  color: var(--clr-light);
}

.text-hoverable-light {
  color: var(--clr-light);
}

.text-hoverable-light:hover {
  color: var(--clr-medium-light);
}

.text-hoverable-dark {
  color: var(--clr-dark);
}

.text-hoverable-dark:hover {
  color: var(--clr-medium-dark);
}
