@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-light: hsl(0, 0%, 98%);
  --clr-medium-light: hsl(0, 0%, 90%);

  --clr-primary: hsl(207, 44%, 49%);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  color: var(--clr-light);
}

h1,
h2 {
  margin: 0;
}

a {
  color: var(--clr-light);
}

a:hover {
  color: var(--clr-medium-light);
}

/* Layout */

.content {
  display: grid;
  grid-template: 70px 1fr / 250px 1fr;
  height: 100%;
}

header {
  display: grid;
  align-items: center;
  grid-column: 1 / -1;
  padding: 1rem;
}

aside {
  display: grid;
  grid-template-rows: 1fr 50px;
}

section{
    display: grid;
    gap: 5px;
    align-content: start;
    padding: 1rem;
}

footer {
  display: grid;
  place-items: center;
}

main{
    padding: 1rem;
}

/* Lists */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    cursor: pointer;
}

li:hover{
    color: var(--clr-medium-light);
}

/* Utility classes */

.bgc-dark {
  background-color: var(--clr-dark);
}

.bgc-primary {
  background-color: var(--clr-primary);
}

.bgc-light {
  background-color: var(--clr-light);
}

.text-clr-dark {
  color: var(--clr-dark);
}
